/* Noscript */

	/* General */

	body.is-preload {
		overflow: hidden;
	}

	/* Header */

	body.is-preload #header {
		-moz-filter: blur(10px);
		-webkit-filter: blur(10px);
		-ms-filter: blur(10px);
		filter: blur(10px);
	}

		body.is-preload #header > * {
			opacity: 0;
		}

		body.is-preload #header .content .inner {
			max-height: 0;
			padding: 0;
			opacity: 0;
		}
/* BG */

	body.is-preload #bg:before {
		background-color: transparent;
	}

/* Header */

	body.is-preload #header {
		-moz-filter: none;
		-webkit-filter: none;
		-ms-filter: none;
		filter: none;
	}

		body.is-preload #header > * {
			opacity: 1;
		}

		body.is-preload #header .content .inner {
			max-height: none;
			padding: 3rem 2rem;
			opacity: 1;
		}

/* Main */

	#main article {
		opacity: 1;
		margin: 4rem 0 0 0;
	}